<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Yelp Camp</title>
  </head>
  <body>

    <nav class="nav-bar bg-dark nav-bar-light p-2">
        <div class="container">
            <a href="/" class="navbar-brand text-light">Yelp Camp</a>

            <% if(!currentUser){ %>
              <span class="nav-item float-right mt-1 mr-3"><a href="/login" class="btn btn-success">Login</a></span>
              <span class="nav-item float-right mt-1 mr-3"><a href="/register" class="btn btn-success">Sign Up</a></span>
              <% } else { %>
              <span class="nav-item float-right mt-1"><a href="/logout" class="btn btn-success">Log Out</a></span>
              <span class="nav-item float-right m-2 mr-5 text-light">Signed In As <kbd><%= currentUser.username%></kbd> </span>
              <% }%>
        </div>
    </nav>

    <br>
    <%if(error && error.length>0){%>
      <div class="container">
        <div class="alert alert-danger" role="alert">
          <%=error%>
        </div>
      </div>
    <%}%>

    <%if(success && success.length>0){%>
      <div class="container">
        <div class="alert alert-success" role="alert">
          <%=success%>
        </div>
      </div>
    <%}%>
    